.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 30px;
    line-height: 24px;
    background-color: #cfe2ff; /* Цвет фона переключателя */
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
    border: 1px solid #9ec5fe; /* Цвет обводки переключателя */
}

.toggle-switch label::before,
.toggle-switch label::after {
    font-size: 14px;
    position: absolute;
    transition: color 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-switch label::before {
    content: 'Yearly';
    left: 14px;
    color: #222; /* Цвет текста для неактивной кнопки */
}

.toggle-switch label::after {
    content: 'Forever';
    right: 14px;
    color: #222; /* Цвет текста для неактивной кнопки */
}

.toggle-switch input:checked + label {
    background-color: #cfe2ff; /* Оставляем фон при активном состоянии */
}

.toggle-switch input:checked + label::after {
    color: #0d6efd; /* Цвет текста активной кнопки */
    font-weight: 600;
}

.toggle-switch input:not(:checked) + label::before {
    color: #0d6efd; /* Цвет текста неактивной кнопки */
    font-weight: 600;
}

.toggle-switch input:checked + label::before {
    color: #222; /* Цвет текста неактивной кнопки */
}

.toggle-switch span {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border-left: 1px solid #9ec5fe; /* Цвет обводки переключателя */
    border-right: 1px solid #9ec5fe;
    transition: left 0.3s ease;
    left: -1px;
}

.toggle-switch input:checked + label span {
    left: calc(50% + 1px);
}



html {
    scroll-behavior: smooth;
}

.card:hover{
    background: rgb(0 0 0 / 3%);
}

.card-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    white-space: nowrap;
}
.card-container .card {
    flex: 0 0 auto;
    margin-right: 20px; /* Space between cards */
    min-width: 250px; /* Minimum width for each card */
}
.card-img-top {
    height: 150px; /* Adjust as needed */
    object-fit: cover;
}
/* Hide scrollbar for Webkit browsers (e.g., Chrome) */
.card-container::-webkit-scrollbar {
    display: none;
}
.price {
    padding: 5px 10px;
    border-radius: 4px;
}

.tab-pane {
    display: none; /* Скрываем контент по умолчанию */
    opacity: 0;
    transition: opacity 0s; /* Убираем задержку */
}

.tab-pane.active {
    display: block !important;
    opacity: 1;
}

.card-animate {
    opacity: 0;
    transform: translateY(20px); /* Начальная позиция карточки ниже */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.tab-pane.show .card-animate {
    opacity: 1;
    transform: translateY(0); /* Конечная позиция карточки */
}

.animate__animated {
    --animate-duration: 0.3s !important;
}

.container {
    width: calc(100% + 10%);
    max-width: 80%;
}

.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}

.align-items-start .nav a {
    max-width: 300px;
    min-width: 200px;
}